body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Fondo general claro */
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #fff;


background: white;
    border-radius: 3px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.menu-button {
    display: block;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}

.ejercicio1 {
    background-color: #c700c7; /* Morado */
}



body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ejercicio-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.ejercicio-container h1 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: stretch;
}

label {
    font-size: 14px;
    color: #333;
    text-align: left;
    font-weight: normal;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
}

.btn-calcular {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn-calcular:hover {
    background-color: #0056b3;
}


.resultado {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
}

.resultado p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}




.ejercicio1:hover {
    background-color: #9a009a; /* Morado oscuro al pasar el mouse */
}

.ejercicio2 {
    background-color: #66cc00; /* Verde */
}

.ejercicio2:hover {
    background-color: #4d9900; /* Verde oscuro al pasar el mouse */
}
