<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Ejercicio 2</title>
</head>
<body>

    <main class="ejercicio-container">
        <form method="POST" action="/ejercicio2">
            <label for="usuario">Usuario:</label>
            <br>
            <input type="text" id="usuario" name="usuario" required><br>

            <label for="password">Contraseña:</label>
            <br>
            <input type="password" id="password" name="password" required><br>

            <button type="submit" class="btn btn-calcular">Iniciar Sesión</button>
        </form>

        {% if mensaje %}
        <h3>{{ mensaje }}</h3>
        {% endif %}
    </main>
</body>
</html>
