<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Cálculo de Compras</title>
</head>
<body>
    <main class="ejercicio-container">
        <div>
            <h1>Cálculo de compras</h1>
            <form action="/ejercicio1" method="post">
                <label for="nombre">Ingresa tu nombre</label>
                <br>
                <input type="text" id="nombre" name="nombre" required>
                <br>
                <label for="edad">Ingresa tu edad</label>
                <br>
                <input type="number" id="edad" name="edad" required>
                <br>
                <label for="cantidad">Ingresa la cantidad de tarros de pintura a comprar</label>
                <br>
                <input type="number" id="cantidad" name="cantidad" required>
                <br>
                <button type="submit" class="btn btn-calcular">Calcular</button>
            </form>

            {% if resultado %}
            <div class="resultado">
                <p><strong>Nombre del cliente:</strong> {{ resultado.nombre }}</p>
                <p><strong>Total sin descuento:</strong> ${{ resultado.total_sin_descuento }}</p>
                <p><strong>El descuento es:</strong> ${{ resultado.descuento }}</p>
                <p><strong>El total a pagar es de:</strong> ${{ resultado.total_final }}</p>
            </div>
            {% endif %}
        </div>
    </main>
</body>
</html>
